fastapi==0.136.3
uvicorn[standard]
python-dotenv
pydantic>=2.13
pydantic-settings
sqlalchemy[asyncio]==2.0.50
asyncpg
alembic==1.18.4
langchain-core
langchain-text-splitters
langchain-chroma
langchain-google-genai
langchain-openai
langchain-groq
langchain-community
langchain-huggingface
chromadb
sentence-transformers
youtube-transcript-api
httpx
pytest
pytest-asyncio
